body{
    display: flex;

    justify-content: center;
}

.contenedor-principal{

    height: 300px;
    width: auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;


}

.caja{
    display: flex;

   justify-content: center;
   align-items: center;

   font-size: 20px;;

   font: bold;

   color: white;

   height: 100px;
   width: 100px;

}

.primera-caja{
   background-color: red;
}

.segunda-caja{
   background-color: blue;
}

.tercera-caja{
   background-color: green;
}