.contenedor{

    background-color: aqua;
    display: flex;
    justify-content: end;
    justify-content: start;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-evenly;
}

.item{
    background-color: gray;
    width: 50px;
    height: 100px;
    margin: 10px;
    font-size: 16px;
}